@tailwind base;
@tailwind components;
@tailwind utilities;

.full-width {
  max-width: 100% !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust based on navbar height */
}

